extends layouts/layout

block content
    .container.main-container
        form#banf(action="/user/" + user.id + "/" + action method="POST")
            .box.has-text-centered
                h1.title.is-1 #{type} #{user.name}##{user.tag}              
                br
                if action === 'ban'
                    .field.is-horizontal
                        .field-label.is-normal.has-text-left
                            label.label Motivo *
                        .field-body
                            .field.is-narrow
                                .control
                                    input.input#reason(maxlength="300" name="reason" placeholder="Insira o motivo do ban.")
                                    p.help Explique claramente o motivo da punição ao usuário. Máximo de 300 caracteres
                else if action === 'edit'
                    .field.is-horizontal
                        .field-label.is-normal.has-text-left
                            label.label Nova Biografia
                        .field-body
                            .field.is-narrow
                                .control
                                    input.input#bio(maxlength="255" name="bio" placeholder="Insira sua nova biografia")
                                    p.help Máximo de 255 caracteres. Deixe vazio para remover a biografia.
                button.button #{type}