extends layouts/layout

block head
  link(rel="stylesheet", href="css/index.css")

block content
  .container
    //- nav#featured.level(oncontextmenu="return false;")
    //-   .level-item
    //-     img.avatar(title="Avatar" alt="Avatar" src=bot.img draggable="false")

    //-     .details
    //-       p.heading.has-text-grey-light Patrocinado
    //-       p.title.has-text-white Disco
    //-       p.subtitle.has-text-grey-lighter Música de alta qualidade | Volume | Bass Boost | Moderação | Diversão | Multilinguagem

    //-       .links
    //-         a(title="Adicionar" href="#")
    //-           span
    //-           p ADICIONAR
    //-         a(title="Página" href="#")
    //-           span
    //-           p PÁGINA
    //-         a(title="Votar" href="#")
    //-           span
    //-           p VOTAR
    #tags
      each tag, index in tags
          a.tag(title=tag href="#")
          span(style="background: linear-gradient(to bottom, blue, darkblue);")
          p tag
      
      
    .bots
      p.title.is-size-4 BOTS MAIS VOTADOS DO MÊS
      p.subtitle.is-size-6 Os bots que receberam mais votos nesse mês.

      for bot in bots.top
        include layouts/bot
        
      p.title.is-size-4 BOTS RECENTEMENTE ADICIONADOS
      p.subtitle.is-size-6 Novos bots que foram recentemente adicionados e aprovados em nosso site.

      for bot in bots.recent
        include layouts/bot

      p.title.is-size-4 BOTS ALEATÓRIOS
      p.subtitle.is-size-6 Seleção aleatória de bots que estão em nosso sistema.

      for bot in bots.random
        include layouts/bot