extends layouts/layout

block head
  script(src="https://hcaptcha.com/1/api.js?hl=pt" async defer)
  script(src="/js/login.js")

block content
  .container.main-container
    .box.has-text-centered
      form#login(method="post")
        h1.title.is-1 Clique no botão abaixo para o login.
        input(type="hidden", name="code" value=code)
        div.h-captcha(data-callback="onSubmit" data-sitekey=captcha data-size="compact")
