extends layouts/layout

block content
    .container.main-container.has-text-centered
        p.title.is-size-3.is-uppercase=title || "Erro"
        p.subtitle.is-size-5=message
        a.button.mt-6(href=url || '/') Continuar