extends layouts/layout

block head
    link(rel="stylesheet", href="/css/page.css")

block content

    
    .container.main-container
        #tags
            - let i = 0;
            each tag, key in tags
                a.tag(title=tag href="/tag/" + key)
                    span(style="background:" + colors[i] + ";")
                    p=tag
                - i++
                

        p.title Bots com a tag #{tag}:
            each bot in bots
                include layouts/bot
            else
                p.subtitle Não há nenhum bot com essa tag.
            br
            .buttons.is-centered.pagecontrol
                if page != 1
                    a.button(href="?page=" + (page - 1))="<"
                a.button(href="?page=" + (++page))=">"