#owners > .input {
    width: max-content;
    margin-right: 9px;
}

.input::placeholder, .textarea::placeholder {
    color: #222;
}

#support {
    max-width: 110px;
}

.limitedetags {
    display: block;
    color: red;
    font-size: 1rem;
    margin-top: .25rem;
    display: none;
}

.full-width {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}