@import "user.css";

.buttons {
    padding-top: 10px;
    display: inline-block;
}

.main-container {
    padding-top: 2vh;
}

.owner {
    display: inline-block;
    height: min-content;
    width: min-content;
    vertical-align: middle;
}

.owner > a {
    color: white;
}

.owner > .image {
    display: inline-block;
}

.align {
    vertical-align: top;
}

.buttons {
    padding-bottom: 10px;
}