extends ../layouts/layout

block head
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src="/js/add.js")
    link(rel="stylesheet", href="/css/add.css")

block content
    .container.main-container
        p#addtitle.title.is-size-4 ADICIONAR BOT
        p.subtitle.is-size-6 Preencha o formulário para submeter seu bot à aprovação.
        
        form#form(action="/bots/add" method="POST")
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label ID *
                .field-body
                    .field.is-narrow
                        .control
                            input.input#id(maxlength="18" name="id" placeholder="Insira o ID do seu bot." )
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Outros donos
                .field-body
                    .field
                        .control
                            #owners
                                button.is-hidden.button#remOwner(type="button") -
                                button.button#addOwner(type="button") +
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Biblioteca *
                .field-body
                    .field.has-addons
                        .control
                            .select
                                select#library(name="library")
                                    option(value="")="Escolha uma biblioteca..."
                                    for lib, text in libraries
                                        option(value=lib)=lib
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Servidor de suporte
                .field-body
                    .field.has-addons
                        p.control
                            a.button.is-static https://discord.gg/
                        p.control
                            input.input#support(maxlength="20" name="server" type="text")
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Convite customizado
                .field-body
                    .field
                        .control
                            input.input#invite(maxlength="2083" name="custominvite" type="text" placeholder="https://sitedomeubot.com.br/adicionar")
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Site
                .field-body
                    .field
                        .control
                            input.input#site(maxlength="2083" name="website" type="text" placeholder="https://sitedomeubot.com.br/")
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Link de doação
                .field-body
                    .field
                        .control
                            input.input#site(maxlength="2083" name="donate" type="text" placeholder="https://paypal.com/")
                            p.help Digite o link em que os usuários poderão doar para o seu projeto.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label GitHub
                .field-body
                    .field.has-addons
                        p.control
                            a.button.is-static https://github.com/
                        p.control
                            input.input(maxlength="100" name="github" type="text" placeholder="zuraaa-projects/ZuraaaBot")
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Prefixo *
                .field-body
                    .field.is-narrow
                        .control
                            input.input#prefix(maxlength="15" name="prefix" type="text" placeholder="Insira o prefixo do seu bot.")
                        p.help Digite até 15 caracteres
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Descrição curta *
                .field-body
                    .field
                        .control
                            textarea#shortdesc.textarea(maxlength="300" name="shortdesc" placeholder="Fale resumidamente sobre seu bot." rows="2")
                        p.help Digite de 3 até 300 caracteres.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Descrição longa
                .field-body
                    .field
                        .control
                            textarea#longdesc.textarea(maxlength="100000" name="longdesc" placeholder="Fale detalhadamente sobre seu bot." rows="8")
                        p.help Digite até 100.000 caracteres. Markdown ou HTML (caso seja ativado) permitido.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label HTML
                .field-body
                    .field
                        .control
                            label.checkbox
                                input(type="checkbox" name="ishtml")
                                | HTML ativado
                        p.help Se a descrição longa é HTML ou Markdown.
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Webhook
                .field-body 
                    .field.has-addons
                        .control
                            .select
                                select#webhook(name="webhook")
                                    option(value="0") Desativado
                                    option(value="1") Discord
                                    option(value="2") Servidor próprio
            .field.is-horizontal.is-hidden#webhook-url
                .field-label.is-normal.has-text-left
                    label.label Webhook Url
                .field-body
                    .field.has-addons.flex-wrap
                        .control.is-expanded
                            input.input#webhookurl(maxlength="2083" name="webhookurl" type="url" placeholder="https://sitedomeubot.com.br/webhook")
                        .control
                            button.button(type="button" onclick="testWebhook()") Testar WebHook
                        span.help.full-width#message
                        a.help(href="https://github.com/zuraaa-projects/Zuraaa.com/wiki/Votos-Webhook" target="_blank")
                            | Documentação
            .field.is-horizontal.is-hidden#webhook-header
                .field-label.is-normal.has-text-left
                    label.label Webhook Authorization header
                .field-body
                    .field
                        .control
                            input.input#authorization(maxlength="2083" name="authorization" type="text")
                        p.help Header "Authorization" que será enviado junto
            .field.is-horizontal
                .field-label.is-normal.has-text-left
                    label.label Tags *
                .field-body
                    .control
                        .select.is-multiple
                            select#tags(name="tags" multiple)
                                for tag, key in tags
                                    option(value=tag)=key
                        p.limitedetags.hidden#limite Você chegou no limite de tags.
                        p.help Limite de 6 tags. Selecione as que representam seu bot. Use CTRL para selecionar mais de uma.     
            button.button.g-recaptcha(data-sitekey=captcha data-callback="onSubmit" data-action="submit") Enviar                        
        p.limitedetags#sim
