extends ../layouts/layout

block head
    link(rel="stylesheet", href="/css/page.css")

block content
    .container.main-container
        each bot in bots
            include ../layouts/bot
        else
            p.subtitle Acabaram os bots.
        br
        .buttons.is-centered.pagecontrol
            if page != 1
                a.button(href="?page=" + (page - 1) + (search ? "&search=" + search : ""))="<"
            a.button(href="?page=" + (++page) + (search ? "&search=" + search : ""))=">"