extends ../layouts/layout

block head
    link(rel="stylesheet", href="/css/page.css")

block content
    .notification.is-danger#slavei
      button.delete
      p.has-text-centered Aviso feio eu sei, mas avisando que o dominio <strong>botsparadiscord.com</strong> vai parar de funcionar dia 01/02/2021 então usem o dominio <strong>zuraaa.com</strong>
    br
    .container.main-container
        each bot in bots
            include ../layouts/bot
        else
            p.subtitle Acabaram os bots.
        br
        .buttons.is-centered.pagecontrol
            if page != 1
                a.button(href="?page=" + (page - 1) + (search ? "&search=" + search : ""))="<"
            a.button(href="?page=" + (++page) + (search ? "&search=" + search : ""))=">"