extends ../layouts/layout

block head
    link(rel="stylesheet", href="/css/remove.css")

block content
    .container.main-container
        form(method="POST" action="/bots/delete")
            .box.has-text-centered
                h1.title.is-1 Tem certeza que deseja remover #{bot.username}##{bot.discriminator}?
                input.is-hidden(name="id" value=bot._id)
                if hasReason
                    input.input.reason(name="reason" type="text" placeholder="Razão da remoção")
                button.button Remover