extends ../layouts/layout

block head
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    script(src="/js/vote.js")
    link(rel="stylesheet", href="/css/votar.css")

block content
    .container.main-container
        form#votef(method="POST")
            .box.has-text-centered
                h1.title.is-1 Vote em #{bot.name}
                figure.image.is-128x128.container
                    img.is-rounded(src=bot.avatar)                
                br
                div.g-recaptcha(data-sitekey=captcha)
                br
                button.button(data-action="submit") Votar