:root {
  --primary-color: #490e2d;
  --secondary-color: #1b1b27;
  --light-color: #fafafc;
  --link-color: #bbb8b8;
  --link-color-hover: #fafafc;
  --text-light: #fafafc;
  --text-dark: #1b1b27;
  --purple-color-zuraaa: #63036c;
}
