extends ../layouts/layout

block content
    .container.main-container
        .box
            p.title.is-size-4 REPROVAR BOT        
            form#form(action="/staff/bots/rejeitar" method="POST")
                .field.is-horizontal
                    .field-label.is-normal.has-text-left
                        label.label ID
                    .field-body
                        .field.is-narrow
                            .control
                                input.input(maxlength="18" name="id" readonly value=id)
                .field.is-horizontal
                    .field-label.is-normal.has-text-left
                        label.label Motivo
                    .field-body
                        .field
                            .control
                                input.input(maxlength="500" name="reason" placeholder="Insira o motivo da recusa")
                                
                button.button REPROVAR